.Weather {
  border: 1px solid #70757a;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px auto 0;
  padding: 20px;
  border-radius: 4px;
  color: #70757a;
}

.Weather form {
  padding: 0;
}

.Weather h1 {
  font-size: 26px;
  padding: 0;
  margin: 20px 0 0 0;
  font-weight: normal;
}
.Weather ul {
  padding: 0;
  margin: 0;
}
.Weather canvas {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.Weather li {
  list-style-type: none;
  font-size: 16px;
}
.Weather .results {
  margin-top: 10px;
}

.Weather .temperature {
  font-size: 64px;
  color: #202125;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: #202125;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
  vertical-align: top;
}
